{% extends "clustering/base/base.html" %}

{% block title %}BiCoN-Web Sources{% endblock %}

{% block content %}
    <div class="row">
        <!---<div class="col-lg-14">--->
        <h3 class="page-header">Sources used for this web application:
        </h3>

        <!---</div>--->
    </div>
    <div>
        <h3> Datasets </h3>
        The two built-in expression datasets are from the following sources:<br>
        - <a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=gse2603" target="_blank">Breast Cancer</a><br>
        - <a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE30219" target="_blank">Lung Cancer</a><br><br>
        The built-in PPI data are loaded from the <a href="http://www.ndexbio.org/" target="_blank">NDEx Bio</a>
        webserver and contain datasets from the following sources: <br>
        - <a href="http://www.hprd.org/" target="_blank">Human Protein Reference Database</a> (<a
            href="http://www.ndexbio.org/#/network/1093e665-86da-11e7-a10d-0ac135e8bacf" target="_blank">link to
        source</a>),<br>
        - <a href="http://cicblade.dep.usal.es:8080/APID/init.action" target="_blank">Agile Protein Interactions
        Database</a> (<a href="http://www.ndexbio.org/#/network/9c38ce6e-c564-11e8-aaa6-0ac135e8bacf" target="_blank">link
        to source</a>),<br>
        - <a href="https://string-db.org/" target="_blank">STRING</a> database (<a
            href="http://www.ndexbio.org/#/network/275bd84e-3d18-11e8-a935-0ac135e8bacf" target="_blank">link to
        source</a>), <br>
        - and from <a href="https://thebiogrid.org/" target="_blank">BioGrid</a> (<a
            href="http://www.ndexbio.org/#/network/becec556-86d4-11e7-a10d-0ac135e8bacf" target="_blank">link to
        source</a>).<br><br>
        <br><br>
        <h3>Code</h3>
        Most of the code for this website is written in <a href="https://www.python.org/" target="_blank"><b>Python</b></a>.<br>
        As a server framework, <a href="https://www.djangoproject.com/" target="_blank"><b>Django</b></a> Version 2.1.3
        is used.<br>
        The queuing system <a href="http://www.celeryproject.org/" target="_blank">Celery</a> is used, based on a <a
            href="https://www.rabbitmq.com/" target="_blank">RabbitMQ</a> server for request processing.<br>
        For the frontend, additional <a href="https://www.javascript.com" target="_blank"><b>JavaScript</b></a> and <a
            href="https://jquery.com/" target="_blank">JQuery</a> code is used.<br>
        For the PPI network display, the javascript library <a href="http://sigmajs.org/" target="_blank">Sigma.js</a>
        is used.<br>
        The javascript library <a href="https://datatables.net/" target="_blank">DataTables</a> is used to improve table
        display.<br>
        The html template for the website was taken from <a href="https://www.quackit.com/">Quackit</a>.<br><br>
        <br><br>
        <h3>External libraries</h3>
        The server uses the following python libraries:<br>
        <a href="https://github.com/tjwalch/django-livereload-server" target="_blank">django-livereload-server</a><br>
        <a href="https://matplotlib.org/" target="_blank">Matplotlib</a> for plots,<br>
        <a href="https://plot.ly/" target="_blank">Plotly</a> for plots,<br>
        <a href="https://www.numpy.org/" target="_blank">Numpy</a>,<br>
        <a href="https://www.scipy.org/" target="_blank">Scipy</a>,<br>
        <a href="https://networkx.github.io/" target="_blank">NetworkX</a> for graph processing,<br>
        <a href="https://seaborn.pydata.org/" target="_blank">Seaborn</a> for the heatmap,<br>
        <a href="https://pypi.org/project/pybiomart/" target="_blank">PyBiomart</a> for gene name conversions,<br>
        <a href="https://pypi.org/project/ndex2/" target="_blank">NDEx 2</a> for PPI data import,<br>
        <a href="https://pandas.pydata.org/" target="_blank">Pandas</a> for internal data processing,<br>
        <a href="https://pypi.org/project/gseapy/" target="_blank">GSEApy</a> is used for gene set enrichment
        analyses,<br>
        <a href="https://scikit-learn.org/stable/" target="_blank">Scikit / sklearn</a> for clustering,<br>
        <a href="https://lifelines.readthedocs.io/en/latest/lifelines.statistics.html" target="_blank">Lifelines</a> for
        survival analysis<br>
        For enrichment analyses, the datasets (that are built-in in gseapy) from the following sources are used: <br><a
            href="https://www.genome.jp/kegg/" target="_blank">KEGG</a>, <a href="http://geneontology.org/"
                                                                            target="_blank">GO (Gene Ontology)</a>:
        Biological Process and Molecular Function,<br> and <a href="https://reactome.org/" target="_blank">Reactome</a>
        Pathway Database.<br><br>
    </div>
{% endblock %}