<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}BiCoN-Web BASE TEMPLATE{% endblock %}</title>

    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'clustering/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template TODO add credits?-->
    <link href="{% static 'clustering/css/shop-item.css' %}" rel="stylesheet">
    {% block custom_template_css %}{% endblock %}
    {% block custom_css %}{% endblock %}

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'clustering:index' %}">BiCoN-Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item {% if navbar == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'clustering:index' %}">Home
{#                        <span class="sr-only">(current)</span>#}
                    </a>
                </li>
                <li class="nav-item {% if navbar == 'analysis' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'clustering:analysis_setup' %}">Analysis</a>
                </li>
                <li class="nav-item {% if navbar == 'documentation' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'clustering:documentation' %}">Documentation</a>
                </li>
                <li class="nav-item {% if navbar == 'about' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'clustering:about' %}">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container mb-5" style="min-height:100vh;">
    {% block empty_content %}

        <div class="row">
            {% block content %}

                <div class="col-lg-9">

                    <div class="card mt-4">
                        <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
                        <div class="card-body">
                            <h3 class="card-title">Product Name</h3>
                            <h4>$24.99</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente
                                dicta fugit
                                fugiat hic aliquam itaque facere, soluta. Totam id dolores, sint aperiam sequi pariatur
                                praesentium animi perspiciatis molestias iure, ducimus!</p>
                            <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
                            4.0 stars
                        </div>
                    </div>
                    <!-- /.card -->

                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            Product Reviews
                        </div>
                        <div class="card-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam
                                inventore,
                                similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat
                                laborum.
                                Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam
                                inventore,
                                similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat
                                laborum.
                                Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                            <hr>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam
                                inventore,
                                similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat
                                laborum.
                                Sequi mollitia, necessitatibus quae sint natus.</p>
                            <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                            <hr>
                            <a href="#" class="btn btn-success">Leave a Review</a>
                        </div>
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col-lg-9 -->
            {% endblock %}
        </div>
    {% endblock %}
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-4 bg-dark footer">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright  2020 &copy;
            <u><a href="https://biomedical-big-data.de" target="_blank" rel="noopener noreferrer" style="color:inherit;">
                Big Data in Biomedicine
            </a></u>
            and
            <u><a href="https://compsysmed.de" target="_blank" rel="noopener noreferrer" style="color:inherit;">
                Computational Systems Medicine
            </a></u>
        </p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'clustering/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'clustering/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

{% block scripts %}
{% endblock %}

</body>

</html>
