# Ignore data folder
bigants/data/
# Ignore package folders
bigants.egg-info/
build/
dist/

#Ignore python files
bigants/__pycache__/

# Ignore results files
bigants/results.csv

# Ignore any test files
*_test.py



