<!DOCTYPE html>
<!-- Template by Quackit.com -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Quirin's Master Thesis test page</title>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css">

       {% load staticfiles %}
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{% static 'custom.css'%}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	Quirin's Master Thesis
                </a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Analysis</a>
                    </li>
                    <li>
                        <a href="predictions_3.html">Prediction</a>
                    </li>
			<li>
                        <a>Logged in?</a>
			{% if user.is_authenticated %}
    			User: {{ user.get_username }}
			<form action="logout.html" method="post" enctype="multipart/form-data">
              	  	{% csrf_token %}
                	<input type="submit" value="Logout"/>
   			{% else %}
			<a href="login.html">Login</a>
   			{% endif %} 
			</form>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

	<div class="jumbotron feature">
		<div class="container">
			<h1> Quirin's Master Thesis Test Page</h1>
			<p>Vizualise Gene Expression and PPI data. </p>
		</div>
	</div>

    <!-- Content -->
    <div class="container">
<a name="Content"></a>
        <!-- Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Analysis
                    <small>Gene Expression & PPI</small>
                </h1>
                <p>Enter files containing Gene Expression and PPI data and vizualise those data.</p>
            </div>
        </div>
	<div style="padding:40px;margin:40px;border:1px solid #ccc">
        <h1>Upload Data</h1>
        <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
	Expression Data:
	<input class="input" type="file" name="myfile">
	PPI file:
    	<input class="input" type="file" name="prot_file">
                <input type="submit" value="Let's go!" />
	<label for="l_box1"><input type="radio" name="include_survival" value="include_survival" id="l_box1">Include Survival</label>
	{% if user.is_authenticated %}
    	<label for="l_box1"><input type="radio" name="save_data" value="save_data" id="l_box1">Save data</label>	
   	{% endif %}              
        </form>
	<br> Or use predefined example files:<br><br>
        <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
	<select name="pre_def_file" size="1">
	        <option value="pre_def_1">Homo Sapiens 1</option>
       	</select>
	<label for="l_box1"><input type="radio" name="include_survival" value="include_survival" id="l_box1">Include Survival</label>
	<input type="submit" value="Let's go!"></form>



	{% if user.is_authenticated %}
		<br><br><h3>Use own uploaded files:</h3>
	<form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %}
	<select name="own_file" size="1">	
		{% for filename in list_of_files %}
	        <option value="{{filename.f1}}">Filename:{{filename.f1}}</option>
		{%endfor%}
       	</select>
	<label for="l_box1"><input type="radio" name="include_survival" value="include_survival" id="l_box1">Include Survival</label>
	<input type="submit" value="Let's go!"></form>
	{% endif %}
	
   
</div>

        <!-- /.row -->

        <!-- Feature Row -->
        <div class="row">
            <article class="col-md-8 article-intro">
                <h1>PPI Graph</h1>

    {{ div | safe}}

    {{ script | safe}}
   
                <h3>
                    <a href="#">Visualize Protein-Protein Interactions</a>
                </h3>
                <p>In the above graph, interactions between analysed genes are shown. The color corresponds to the mean difference in expression level between both groups.</p>
            </article>
           
            
        </div>
<div class="row">
            
           
            <article class="col-md-12 article-intro">
                <h1>Heatmap</h1>
       {% load staticfiles %}

        <img src={% static plot2 %}>
	<h1> Survival Plot</h1>
	{{plot_2|safe}}
	
    <h1>Survival Info</h1><table>
<tr>
  <th>Gene Name</th>
  <th>Difference</th>
  <th>Correlation</th>
</tr>
{% for result in genelist_diff %}
<tr>
  <th> {{ result.gene_name }}</th>
  <th> {{ result.difference }}</th>
  <th> {{ result.correlation }}</th>
</tr> 
{% endfor %}
</table>
        <!--<img src={% static "test_2.png" %}>--><h3>
                    <a href="#">Heatmap & Survival Info</a>
                </h3>
                <p>The heatmap shows a clustering of the analysed genes. The colored bar above the heatmap shows to which group the patient belongs. In the survival graph, survival time for patients of both groups is shown (Fractions of patients in the respective group that are alive at time X)</p>
		{% if user.is_authenticated %}
     <li>User: {{ user.get_username }}</li>
   {% else %}
	bar
   {% endif %} 
            </article>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
	
	<footer>
		<div class="footer-blurb">
			<div class="container">
				<div class="row">
					<div class="col-sm-4 footer-blurb-item">
						<h3><img src={% static 'survivorship_mini.png' %} height="100"><br><br>Survivorship Prediction</h3>
						<p>Use a Random Forest to predict survivorship for a test dataset and check the accuracy</p>
						<p><a class="btn btn-default" href="predictions_3.html">Show me more</a></p>
					</div>

				</div>
				<!-- /.row -->	
			</div>
        </div>
        
        <div class="small-print">
        	<div class="container">
        		<p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
        		<p>Copyright &copy; Example.com 2015 </p>
        	</div>
        </div>
	</footer>

	
    <!-- jQuery -->
    <script src="{% static 'jquery-1.11.3.min.js'%}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%static 'bootstrap.min.js'%}"></script>
	
	<!-- IE10 viewport bug workaround -->
	<script src="{%static 'ie10-viewport-bug-workaround.js'%}"></script>
	
	<!-- Placeholder Images -->
	<script src="{%static 'holder.min.js'%}"></script>
	
</body>

</html>

