{% extends "clustering/base_analysis.html" %}

{% block title %}BiGAnts-Web analysis status{% endblock %}

{% block custom_css %}
    {% load static %}
{% endblock %}


{% block content %}
    <div class="card mt-4">
        <div class="card-body">
            <h1 class="card-title">Job status overview</h1>
            <p class="card-text">View all the previously submitted and running jobs</p>

            {% for job in previous_jobs %}
                <div class="card mt-4">
                    <div class="card-body">
                        {% if job.job_name %}
                            <h2 class="card-title">Task Name: {{ job.job_name }}</h2>
                        {% else %}
                            <h2 class="card-title">Task ID: {{ job.job_id }}</h2>
                        {% endif %}
                        <p class="card-text">
                            <strong>Submitted on: </strong>{{ job.submit_time }}<br>
                            <strong>Status: </strong><span id="state-{{ job.job_id }}"></span>
                        </p>
                        <strong>Progress:</strong>
                        <div class="progress">
                            <div id="bar-{{ job.job_id }}" class="progress-bar" style="width: 0%;">0 &#37;</div>
                        </div>
                        <div class="mt-2 float-right">
                            <a class="btn btn-primary"
                               href="{% url 'clustering:analysis_status_single' job.job_id %}">More details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static 'clustering/js/status_multiple.js' %}"></script>
    <script>
        // Run the update task_status function
        {% for job in previous_jobs %}
            update_status('{{ csrf_token }}', '{{ job.job_id }}', '{% url 'clustering:poll_status' %}');
        {% endfor %}
    </script>
{% endblock %}