{% extends "clustering/base.html" %}

{% block title %}About BiCoN{% endblock %}

{% block content %}
    <!-- Page Content -->
    <div class="row">
        <div class="col-lg-10 text-justify">
            <h1 class="mt-5">Documentation</h1>
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title">Table of contents</h2>
                    <ul>
                        <li><a href='#data-format'>Data format</a></li>
                        <li><a href='#data-processing'>Data processing</a></li>
                        <li><a href='#parameters'>Algorithm parameters</a></li>
                        <li><a href='#cite'>Cite</a></li>
                        <li><a href='#contact'>Contact</a></li>
                    </ul>
                </div>
                <div class="card-body">

                    <h2 class="card-title"><a name="data-format"></a>Data format</h2>
                    <p>The algorithm needs as an input one CSV matrix with gene expression/methylation/any other
                        numerical
                        data and one CSV file with a network.</p>
                    <h3>Numerical data</h3>
                    <p>Numerical data is accepted in the following format:</p>
                    <ul>
                        <li>genes as rows.</li>
                        <li>patients as columns.</li>
                        <li>first column - genes IDs (can be any IDs).</li>
                    </ul>
                    <p>For instance:</p>
                    <figure>
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>GSM748056</th>
                                <th>GSM748059</th>
                                <th>...</th>
                                <th>GSM748278</th>
                                <th>GSM748279</th>
                                <th>GSM1465989</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1454</td>
                                <td>0.053769</td>
                                <td>0.117412</td>
                                <td>...</td>
                                <td>-0.392363</td>
                                <td>-1.870838</td>
                                <td>-1.432554</td>
                            </tr>
                            <tr>
                                <td>201931</td>
                                <td>-0.618279</td>
                                <td>0.278637</td>
                                <td>...</td>
                                <td>0.803541</td>
                                <td>-0.514947</td>
                                <td>2.361925</td>
                            </tr>
                            <tr>
                                <td>8761</td>
                                <td>0.215820</td>
                                <td>-0.343865</td>
                                <td>...</td>
                                <td>0.700430</td>
                                <td>0.073281</td>
                                <td>-0.977656</td>
                            </tr>
                            <tr>
                                <td>2703</td>
                                <td>-0.504701</td>
                                <td>1.295049</td>
                                <td>...</td>
                                <td>1.861972</td>
                                <td>0.601808</td>
                                <td>0.191013</td>
                            </tr>
                            <tr>
                                <td>26207</td>
                                <td>-0.626415</td>
                                <td>-0.646977</td>
                                <td>...</td>
                                <td>2.331724</td>
                                <td>2.339122</td>
                                <td>-0.100924</td>
                            </tr>
                            </tbody>
                        </table>
                    </figure>
                    <p>Our test data can be downloaded <a
                            href='https://drive.google.com/drive/folders/1J0XRrklwcV_Cgy_9Ay_6yJrN_x28Cosk?usp=sharing'>here</a>
                        and further used as a reference for the correct format.</p>
                    <h3>Network</h3>
                    <p>Even though we support our users with already processed PPI networks, it is still possible to
                        load a
                        user-defined network.
                        An interaction network should be present as a CSV table with two columns that represent two
                        interacting genes. <strong>Without a header!</strong></p>
                    <p>For instance:</p>
                    <figure>
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>6416</th>
                                <th>2318</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>6416</td>
                                <td>5371</td>
                            </tr>
                            <tr>
                                <td>6416</td>
                                <td>351</td>
                            </tr>
                            <tr>
                                <td>6416</td>
                                <td>409</td>
                            </tr>
                            <tr>
                                <td>6416</td>
                                <td>5932</td>
                            </tr>
                            <tr>
                                <td>6416</td>
                                <td>1956</td>
                            </tr>
                            </tbody>
                        </table>
                    </figure>
                    <p>We also provide an example of a PPI <a
                            href='https://drive.google.com/drive/folders/1J0XRrklwcV_Cgy_9Ay_6yJrN_x28Cosk?usp=sharing'>here</a>.
                    </p>
                    <h3>Metadata</h3>
                    <p>Add clinical data/survival data to enable further analysis. If you do not want to upload
                        additional
                        metadata, you can go to the next step.</p>
                    <h2 class="card-title"><a name="data-processing"></a>Data processing</h2>
                    <p>For internal calculations, BiCoN normalizes the data by applying log2 transformation and then
                        applying z-scores normalization. If your data was already log2 scaled, please remove a check
                        from
                        &quot;Log2 transform&quot;.</p>
                    <h2 class="card-title">Algorithm parameters</h2>
                    <p>The main parameters of the algorithm are the sizes of the desired solution.
                        Please, indicate what is a minimal and maximal number of genes you would like to have in
                        <strong>each</strong>
                        subnetwork. </p>
                    <p>The algorithm works such that in most of the cases default parameters deliver the optimal
                        performance.
                        If you want to set advanced parameters, please check &quot;Use advanced parameters: Yes&quot;.
                        A user can specify the following parameters:</p>
                    <ul>
                        <li><strong>Gene set size</strong> - number of genes considered in the analysis. The algorithm
                            usually preselects 3000 the most variant genes to speed-up the calculation. This is usually
                            an
                            optimal choice as genes which can be selected for clustering, are supposed to have a high
                            variance. Therefore, if needed this parameter can be increased, but we do not recommend to
                            go
                            higher than 5000 to guarantee a reasonable run-tyme
                        </li>
                        <li><strong>Maximum number of iterations</strong> - we generally do not recommend to terminate
                            the
                            algorithm before convergence which is usually reached in 30-60 iterations) and therefore we
                            remend to change this parameter only for testing purposes
                        </li>
                        <li><strong>Number of ants</strong> - more ants can make more search space exploration, but also
                            increase the run-time
                        </li>
                        <li><strong>Evaporation rate</strong> - higher evaporation rate will speed-up convergence, but
                            also
                            increase risks to get stuck in a local minima
                        </li>
                        <li><strong>Pheromone significance</strong> and <strong>Heuristic Information
                            significance</strong>
                            please modify it only if you really well aware of the role of those parameters in Ant Colony
                            Optimization algorithms convergence.
                        </li>
                    </ul>
                    <h2 class="card-title"><a name="cite"></a>Cite</h2>
                    BiCoN was developed by the <a href="https://biomedical-big-data.de">Big Data in BioMedicine
                    group</a> and the <a href="https://compsysmed.de">Computational Systems Medicine group</a> at the
                    <a href="https://www.baumbachlab.net/">Chair of Experimental Bioinformatics</a>.
                    <br>
                    <br>
                    If you use BiCoN in your research, we kindly ask you to cite the following manuscript:
                    <br>
                    <code>Lazareva,O., Van Do, H., Canzar, S., Yuan, K., Baumbach, J., Kacprowski, T.**, List, M.**:
                        BiCoN:
                        Network-constrained biclustering of patients and omics data. [Submitted] </code>
                    <p>** joint last author</p>
                    <h2 class="card-title"><a name="contact" class="md-header-anchor"></a>Contact</h2>
                    <p>If you want to contact us regarding BiCoN:</p>
                    <ul>
                        <li><a href='mailto:olga.lazareva@wzw.tum.de?subject=[BiCoN-Web]%20BiCoN%20WEB'>Olga
                            Lazareva</a></li>
                        <li><a href='mailto:markus.list@wzw.tum.de?subject=[BiCoN-Web]%20BiCoN%20WEB'>Markus
                            List</a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
    </div>
{% endblock %}