{% extends "clustering/base.html" %}

{% block title %}BiCoN-Web Sources{% endblock %}

{% block content %}
    {% load static %}
    <!-- Heading -->
    <div class="row">
        <div class="col-lg-12 text-justify">
            <h1 class="mt-5">How to run the algorithm:</h1>
            <small>Detailed description</small>

            <div class="card mt-4">
                <div class="card-body">


                    With the <a href="{% url 'clustering:analysis_setup' %}">BiCoN </a> web application, you can run a
                    bi-clustering
                    algorithm to calculate a clustering of patients and genes and vizualise interactions between the
                    genes, as well
                    as (optionally) analyze clinical variables of patients and run gene set enrichment analyses.<br>
                    Start a new
                    analysis by clicking the button that says "Start new Analysis". You can then upload your data
                    stepwise through
                    the input form.<br>
                    Input consists either of pre-defined datasets (expression data from Lung or Breast Cancer patients,
                    as well as
                    pre-compiled PPI networks) or your own uploaded datasets. Registered users can also store their own
                    uploaded
                    data and results by clicking "save data" on the first tab of the input form and re-use them. Your
                    uploaded data
                    must contain one file with expression data and one with PPI data. Optionally, you can upload a file
                    with
                    clinical data to analyze clinical variables for the resulting patient clusters.<br>
                    <h3><b>Data input</b></h3>
                    <br><br> <b>The expression data must be in TSV or CSV format with the first column consisting of
                    patient
                    identifiers of any kind, and generally have the following format:</b><br><br><img
                        src={% static 'clustering/img/doc/small_expr_data.png' %}><br><br>
                    The first row must contain NCBI gene IDs of genes in the data. One column, labeled as 'cancer type'
                    in the
                    example above, can contain information about the disease subtype, which separates patients into
                    pre-defined
                    groups. It will be recognized automatically. If this column assigns two clusters to patients, the
                    data from this
                    column can be vizualised in the heatmap to display the overlap between predefined clusters and the
                    clusters
                    calculated by the application.<br>
                    Each row consists of gene expression values of the list of genes for a specific patient. The
                    expression values
                    must be written as numbers with a point as decimal separator (and not comma), e.g. 1.0000. They can,
                    but do not
                    have to be, logarithmized (which will be automatically recognized by the application).
                    <br> You can use pre-defined expression data instead of uploading data, by checking the box that
                    says "use
                    pre-defined files" and selecting one of the datasets in the dropdown menu.<br><br>
                    <b>The PPI data must be in CSV or TSV format have the following format:</b><br><br><img
                        src={% static 'clustering/img/doc/small_prot_data.png' %}><br><br>Where each row consists of two
                    NCBI gene
                    IDs of the
                    interacting genes.
                    Instead of uploading a file, can use a pre-defined dataset by clicking on the label that says
                    "import NDEx" and
                    selecting a dataset.<br><br>
                    Optionally, you can upload a file consisting of clinical data for the patients (check the box that
                    says 'analyze
                    metadata'). In this case, you can specify a column in your file indicating the survival time for
                    patients, which
                    can be used to display the differences in survival time between both calculated patient clusters.
                    For this, type
                    the exact name of the column in the field that is labeled "Name of "survival" column", without
                    quotation marks.
                    <br><br>
                    <b>The clinical patient metadata should have a format similar to this:</b> <br><br><img
                        src={% static 'clustering/img/doc/metadata_small.png' %}><br><br>
                    Where the first column indicates the patient ID and each row consists of clinical data for a
                    patient. Only
                    binary variables (e.g. survival - yes or no) where information is available for at least 80% of
                    patients will be
                    analyzed in the application.
                    <br><br><br><b><p style="font-size:16px">Algorithm parameters</p></b><br>In the last step of the
                    upload form,
                    you must specify the minimum and maximum number of genes you want per cluster. Also, you can choose
                    how many
                    iterations the algorithm should perform at most; for the settings used in the example runs, the
                    algorithm
                    usually converged between run 25 and 45.<br>
                    If you wish to set more parameters, you can select the target gene set size, number of ants,
                    evaporation rate,
                    pheromone significance, HI significance and the stop criteria.<br>
                    While the algorithm is running, a figure will be shown displaying the algorithm's progress
                    (convergence
                    behaviour). If the algorithm run has finished, you will see a message that says "Done" next to the
                    input form.
                    Then you can see your results in the lower part of the page.
                    <br><br><br><b><p style="font-size:16px">How to re-use data</p></b><br> If you are logged in as a
                    user, you can
                    display old results again by clicking the button that says "Show old results" on the home page. If
                    you want to
                    re-run an analysis with previously uploaded data, click "Start new analysis" and select "Use own
                    data" on the
                    first tab of the input form and choose a file based on the date of upload. The corresponding PPI
                    data will be
                    used automatically and you can skip the steps for PPI file upload and for patient data analysis. If
                    your
                    previously uploaded data have included metadata, they will be included automatically in the new
                    analysis.

                    <br><br><br>
                    <h3><b>Results</b></h3><br>After running the analysis, the results are visualized at the bottom part
                    of the
                    page. You can click thorugh the grey tab links for viewing all results.<br> The results consist of
                    the following
                    parts:<br><br>
                    <p style="font-size:16px"><b>Heatmap</b></p><br>
                    <img src={% static 'clustering/img/doc/heatmap_example.png' %}><br>
                    The heatmap displays patient and gene clusters and gene expression levels. If your expression data
                    included
                    information on patient clusters, a colored bar next to the 'patients' axis indicates to which
                    pre-defined
                    cluster a patient belongs. By default, the algorithm only includes pre-defined clusters if there are
                    two
                    clusters of patients in the data (e.g. two cancer subtypes).<br><br>
                    <b><p style="font-size:16px">PPI Graph</p></b><br>
                    <img src={% static 'clustering/img/doc/ppi_graph_example.png' %}><br>
                    In the PPI graph, you can see all interactions between genes in the result clusters. The node for
                    each gene is
                    colorized according to the z-score difference between both calculated patient clusters. Node forms
                    correspond to
                    the cluster of a gene. The PPI graph can be downloaded as an image or as a .json file by clicking
                    the links
                    below the graph.<br><br>
                    <br><br><b><p style="font-size:16px">Survival analysis</p></b><br>
                    If you have included survival time in your data, you can see a graph (Kaplan-Meyer plot) where the
                    different
                    survival times for both clusters are seen. The lines in the graph indicate the fraction of patients
                    alive at
                    each point of time, with one line for each cluster of patients.<br><br>

                </div>
            </div>
        </div>
    </div>
{% endblock %}