{% extends "clustering/base.html" %}

{% block title %}About BiCoN{% endblock %}

{% block content %}
    {% load static %}
    <!-- Page Content -->
    <div class="row">
        <div class="col-lg-10 text-justify">
            <h1 class="mt-5">About BiCoN</h1>
            <div class="card mt-4">
                <div class="card-body">
                    <h2 class="card-title">Table of contents</h2>
                    <ul>
                        <li><a href="#bicon-algorithm">BiCoN
                            algorithm</a></li>
                        <li><a href="#web-application">Web
                            application</a></li>
                        <li><a href="#pypi-package">PyPI
                            package</a></li>
                        <li><a href="#cite">Cite</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <div id="bicon-algorithm" class="card-body">
                    <h2 class="card-title">BiCoN algorithm</h2>
                    <p>Unsupervised learning approaches are frequently employed to identify patient subgroups and
                        biomarkers such as disease-associated genes. Biclustering is a powerful technique often used
                        with
                        expression data to cluster genes along with patients. However, the genes forming biclusters are
                        often not functionally related, complicating interpretation of the results.
                        <br>
                        <br>
                        To alleviate this, we developed the network-constrained biclustering approach BiCoN which
                        <strong>(i)</strong>
                        restricts biclusters to functionally related genes connected in molecular interaction networks
                        and
                        <strong>(ii)</strong> maximizes the expression difference between two subgroups of patients.</p>

                    <img class="img-fluid" src="{% static 'clustering/img/about/BiCoN-schema.png' %}">


                </div>
                <div id="web-application" class="card-body">
                    <h2 class="card-title">Web application</h2>
                    BiCoN-web allows you to use the full power of BiCoN analysis provided with an an intuitive
                    interface. To learn how to use BiCoN-web please refer to our
                    <a href="{% url 'clustering:documentation' %}">documentation</a> section.
                </div>
                <div id="pypi-package" class="card-body">
                    <h2 class="card-title">PyPI package</h2>
                    If you prefer to run BiCoN locally and in python, then just install BiCoN from PyPI:
                    <br>
                    <code>pip install bicon</code>
                    <br>
                    Please check the instruction for the package at our
                    <a href="https://github.com/biomedbigdata/BiCoN">GitHub</a> repository.
                </div>
                <div id="cite" class="card-body">
                    <h2 class="card-title">Cite</h2>
                    BiCoN was developed by the <a href="https://biomedical-big-data.de">Big Data in BioMedicine
                    group</a> and the <a href="https://compsysmed.de">Computational Systems Medicine group</a> at the
                    <a href="https://www.exbio.de/">Chair of Experimental Bioinformatics</a>.
                    <br>
                    <br>
                    If you use BiCoN in your research, we kindly ask you to cite the following manuscript:
                    <br>
                    <code>Lazareva,O., Van Do, H., Tieri,P., Canzar, S., Yuan, K., Baumbach, J., Kacprowski, T.**, List, M.**:
                        BiCoN:
                        Network-constrained biclustering of patients and omics data. [Submitted] </code>
                    <p>** joint last author</p>
                </div>
                <div id="contact" class="card-body">
                    <h2 class="card-title">Contact</h2>
                    If you want to contact us regarding BiCoN:
                    <li><a href="mailto:olga.lazareva@wzw.tum.de?subject=[BiCoN-Web]%20BiCoN%20WEB">Olga
                        Lazareva</a></li>
                    <li><a href="mailto:tim.kacprowski@wzw.tum.de?subject=[BiCoN-Web]%20BiCoN%20WEB">Tim Kacprowski</a></li>
                    <li><a href="mailto:markus.list@wzw.tum.de?subject=[BiCoN-Web]%20BiCoN%20WEB">Markus List</a>
                    </li>
                </div>

            </div>

        </div>
    </div>
{% endblock %}