Django==3.0.5
celery==4.4.2
bicon==1.2.2
pandas>=1.0.1
numpy>=1.18.1
networkx>=2.3
matplotlib>=3.1.0
seaborn>=0.9.0
mygene==3.1.0
lifelines==0.24.4
ndex2==3.3.1
plotly==4.6.0
pybiomart==0.2.0
importlib_metadata==1.6.0
